@{
    ViewData["Title"] = "Branch List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="border border-dark rounded">
    <div class="row p-1">
        <div class="col-6">
            <h3 class="pl-2">Branch List</h3>
        </div>
        <div class="col-6 text-right">
            <a asp-action="AddBranch" class="btn btn-primary text-white">
                <i class="fas fa-plus"></i> &nbsp; New Branch
            </a>
        </div>
        <hr class="w-75" />
    </div>
    <br />
    <table id="tblData" class="table table-striped table-bordered table-secondary" style="width:100%">
        <thead>
            <tr class="text-center">
                <th>Sr. No.</th>
                <th>Hospital</th>
                <th>Branch Code</th>
                <th>City</th>
                <th>Actions</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/branch.js"></script>
    <style>
        hr {
            border-color: black;
        }

        th {
            padding-left: 10px;
        }
    </style>
}